# Data Analysis using Pandas

# STEP 1: Dataset Load Karna

## Explanation

Is step me hum ne:

- Pandas library import ki

- CSV file ko read_csv() function ki madad se DataFrame me load kiya

- df aik DataFrame hai jo Excel sheet jaisa hota hai

 Ye hamesha first step hota hai.

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("BostonHousing.csv")

# STEP 2: Dataset ka First Look (head)

## Explanation

- head() function dataset ki pehli 5 rows dikhata hai

- Is se hume idea milta hai:

- columns ke naam

- values ka type

- data kis type ka hai

Jab bhi naya dataset mile, head() zaroor dekho

In [5]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

# STEP 3: Dataset ki Basic Information

## Explanation

- info() bohat important function hai, ye batata hai:

- Total rows: 506

- Total columns: 14

- Har column ka data type (float / int)

- Missing values hain ya nahi

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

# STEP 4: Dataset ka Size aur Shape

## Explanation

- shape batata hai:

- Rows  

- Columns

In [7]:
df.shape

(506, 14)

# STEP 5: Column Names Samajhna

- medv hamara target variable hai (house price)

In [11]:
df.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

# STEP 6: Statistical Summary (describe)

## Explanation

- describe() numerical columns ka complete summary deta hai:

- mean (average)

- min / max

- standard deviation

Example:

- Average house price (medv) ≈ 22.5

- Max price = 50

- Average rooms (rm) ≈ 6.28

Ye step EDA (Exploratory Data Analysis) ka core part hai.

In [12]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

# STEP 7: Missing Values Check Karna

## Explanation

- Ye check karta hai ke kis column me missing values hain

- Output batata hai:

- Har column me 0 missing values

In [13]:
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

# STEP 8: Single Column Analysis

Example: House Prices

# Explanation

- Is se hum sirf house prices ka analysis karte hain:

- Minimum price = 5

- Maximum price = 50

- Average ≈ 22

Target variable ko alag se dekhna bohat achi practice hai.

In [14]:
df['medv'].describe()

count    506.000000
mean      22.532806
std        9.197104
min        5.000000
25%       17.025000
50%       21.200000
75%       25.000000
max       50.000000
Name: medv, dtype: float64

# STEP 9: Data Filtering (Conditions)

## Example: Mehngi Houses

Explanation

- Ye sirf wo houses dikhata hai jinki price 30 se zyada hai

- Condition based analysis ke liye use hota hai

In [15]:
df[df['medv'] > 30]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
39,0.02763,75.0,2.95,0,0.428,6.595,21.8,5.4011,3,252,18.3,395.63,4.32,30.8
40,0.03359,75.0,2.95,0,0.428,7.024,15.8,5.4011,3,252,18.3,395.62,1.98,34.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,4.89822,0.0,18.10,0,0.631,4.970,100.0,1.3325,24,666,20.2,375.52,3.26,50.0
369,5.66998,0.0,18.10,1,0.631,6.683,96.8,1.3567,24,666,20.2,375.33,3.73,50.0
370,6.53876,0.0,18.10,1,0.631,7.016,97.5,1.2024,24,666,20.2,392.05,2.96,50.0
371,9.23230,0.0,18.10,0,0.631,6.216,100.0,1.1691,24,666,20.2,366.15,9.53,50.0
372,8.26725,0.0,18.10,1,0.668,5.875,89.6,1.1296,24,666,20.2,347.88,8.88,50.0

# Multiple Conditions
## Explanation:

- Zyada rooms

- Zyada price

Real estate analysis me bohat useful.

In [16]:
df[(df["medv"] < 30) & (df["rm"] > 7)]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
88,0.05660,0.0,3.41,0,0.489,7.007,86.3,3.4217,2,270,17.8,396.90,5.50,23.6
89,0.05302,0.0,3.41,0,0.489,7.079,63.1,3.4145,2,270,17.8,396.06,5.70,28.7
299,0.05561,70.0,2.24,0,0.400,7.041,10.0,7.8278,5,358,14.8,371.58,4.74,29.0
364,3.47428,0.0,18.10,1,0.718,8.780,82.9,1.9047,24,666,20.2,354.55,5.29,21.9
375,19.60910,0.0,18.10,0,0.671,7.313,97.9,1.3163,24,666,20.2,396.90,13.44,15.0
453,8.24809,0.0,18.10,0,0.713,7.393,99.3,2.4527,24,666,20.2,375.87,16.74,17.8
482,5.73116,0.0,18.10,0,0.532,7.061,77.0,3.4106,24,666,20.2,395.28,7.01,25.0

# STEP 10: Sorting Data

Houses by Price (High to Low)

## Explanation

Highest price wale houses upar aa jate hain

Ranking aur comparison ke liye use hota hai

In [17]:
df.sort_values("medv", ascending=False)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
369,5.66998,0.0,18.1,1,0.631,6.683,96.8,1.3567,24,666,20.2,375.33,3.73,50.0
372,8.26725,0.0,18.1,1,0.668,5.875,89.6,1.1296,24,666,20.2,347.88,8.88,50.0
371,9.23230,0.0,18.1,0,0.631,6.216,100.0,1.1691,24,666,20.2,366.15,9.53,50.0
370,6.53876,0.0,18.1,1,0.631,7.016,97.5,1.2024,24,666,20.2,392.05,2.96,50.0
368,4.89822,0.0,18.1,0,0.631,4.970,100.0,1.3325,24,666,20.2,375.52,3.26,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,45.74610,0.0,18.1,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0
399,9.91655,0.0,18.1,0,0.693,5.852,77.8,1.5004,24,666,20.2,338.16,29.97,6.3
400,25.04610,0.0,18.1,0,0.693,5.987,100.0,1.5888,24,666,20.2,396.90,26.77,5.6
398,38.35180,0.0,18.1,0,0.693,5.453,100.0,1.4896,24,666,20.2,396.90,30.59,5.0
405,67.92080,0.0,18.1,0,0.693,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0

# STEP 11: Correlation Analysis (IMPORTANT)

## Explanation

Correlation batata hai:

- Kaun se factors price ko increase ya decrease karte hain

Key findings:

- rm (rooms) → strong positive relation

- lstat → strong negative relation

Matlab:

- Zyada rooms = zyada price
- Lower status zyada = kam price

In [18]:
df.corr()["medv"].sort_values(ascending= False)

medv       1.000000
rm         0.695360
zn         0.360445
b          0.333461
dis        0.249929
chas       0.175260
age       -0.376955
rad       -0.381626
crim      -0.388305
nox       -0.427321
tax       -0.468536
indus     -0.483725
ptratio   -0.507787
lstat     -0.737663
Name: medv, dtype: float64

# STEP 12: Groupby Analysis
- River ke paas houses ka price

## Explanation

- chas = 1 → river ke paas

- chas = 0 → river se door

River ke paas houses ki average price zyada hoti hai.

In [19]:
df.groupby("chas")["medv"].mean()

chas
0    22.093843
1    28.440000
Name: medv, dtype: float64

# STEP 13: New Feature Banana

## Explanation

- New categorical column banaya

- ML aur reporting me bohat use hota hai

In [20]:
df["Price_Level"] = df["medv"].apply(
    lambda x: "High" if x > 30 else "Normal"
)

# STEP 14: Clean Dataset Save Karna
## Explanation

- Cleaned / analyzed data ko save kiya

- Future use ke liye ready

In [21]:
df.to_csv("BostonHousing_Clean.csv", index=False)